<!-- Govt -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].govt.section }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].govt.title | default: "" }}</h2>
        <!-- <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].govt.text | default: "" }}</h3> -->
      </div>
    </div>
    <div class="row mt-4">

      <div class="col-lg-6 mx-auto text-left">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].govt.body | markdownify }}</div>
      </div>

      <div class="col-lg-6">
        <img class="img-fluid" src="{{ site.data.sitetext[site.locale].govt.image }}" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Govt -->
